<div class="grid wide">
  <div class="Form__Edit">
    <form (ngSubmit)="submit()" [formGroup]="formServiceCreate">
      <div class="row d-flex">
        <h3 class="Edit__Service">Thêm dịch vụ</h3>
        <div class="col-md-6 Form__Col">
          <mdb-form-control>
            <input class="form-control" formControlName="serviceName" id="serviceName" mdbInput
                   type="text"/>
            <label class="form-label" for="serviceName" mdbLabel>Tên dịch vụ</label>
          </mdb-form-control>
          <div
            *ngIf="!formServiceCreate.get('serviceName')?.valid && (formServiceCreate.get('serviceName')?.touched||formServiceCreate.get('serviceName')?.dirty)">
            <div [hidden]="!formServiceCreate.get('serviceName').errors.required">
              <small class="form__text">
                Không được để trống.</small>
            </div>
            <div [hidden]="!formServiceCreate.get('serviceName').errors.pattern">
              <small class="form__text">
                Chưa đúng định dạng.</small>
            </div>
          </div>
          <mdb-form-control>
            <input class="form-control" formControlName="serviceArea" id="area" mdbInput type="text"/>
            <label class="form-label" for="area" mdbLabel>Diện tích sử dụng</label>
          </mdb-form-control>
          <div
            *ngIf="!formServiceCreate.get('serviceArea')?.valid && (formServiceCreate.get('serviceArea')?.touched||formServiceCreate.get('serviceArea')?.dirty)">
            <div [hidden]="!formServiceCreate.get('serviceArea').errors.required">
              <small class="form__text">
                Không được để trống.</small>
            </div>
            <div [hidden]="!formServiceCreate.get('serviceArea').errors.pattern">
              <small class="form__text">
                Chưa đúng định dạng.</small>
            </div>
          </div>
          <mdb-form-control>
            <input class="form-control" formControlName="servicePrice" id="cost" mdbInput type="text"/>
            <label class="form-label" for="cost" mdbLabel>Chi phí thuê</label>
          </mdb-form-control>
          <div
            *ngIf="!formServiceCreate.get('servicePrice')?.valid && (formServiceCreate.get('servicePrice')?.touched||formServiceCreate.get('servicePrice')?.dirty)">
            <div [hidden]="!formServiceCreate.get('servicePrice').errors.required">
              <small class="form__text">
                Không được để trống.</small>
            </div>
            <div [hidden]="!formServiceCreate.get('servicePrice').errors.pattern">
              <small class="form__text">
                Chưa đúng định dạng.</small>
            </div>
          </div>
          <mdb-form-control>
            <input class="form-control" formControlName="serviceMaxPeople" id="maxPeople" mdbInput
                   type="text"/>
            <label class="form-label" for="maxPeople" mdbLabel>Số người tối đa</label>
          </mdb-form-control>
          <div
            *ngIf="!formServiceCreate.get('serviceMaxPeople')?.valid && (formServiceCreate.get('serviceMaxPeople')?.touched||formServiceCreate.get('serviceMaxPeople')?.dirty)">
            <div [hidden]="!formServiceCreate.get('serviceMaxPeople').errors.required">
              <small class="form__text">
                Không được để trống.</small>
            </div>
            <div [hidden]="!formServiceCreate.get('serviceMaxPeople').errors.pattern">
              <small class="form__text">
                Chưa đúng định dạng.</small>
            </div>
          </div>
          <mdb-form-control>
            <select class="form-control" formControlName="rendType" id="rentType" mdbInput
                    type="text">
              <option *ngFor="let rentType of rentType" [ngValue]="rentType">{{rentType.rentTypeName}}</option>
            </select>
            <label class="form-label" for="maxPeople" mdbLabel>Kiểu thuê</label>
          </mdb-form-control>
          <div
            *ngIf="!formServiceCreate.get('rendType')?.valid && (formServiceCreate.get('rendType')?.touched||formServiceCreate.get('rendType')?.dirty)">
            <div [hidden]="!formServiceCreate.get('rendType').errors.required">
              <small class="form__text">
                Không được để trống.</small>
            </div>
            <div [hidden]="!formServiceCreate.get('rendType').errors.pattern">
              <small class="form__text">
                Chưa đúng định dạng.</small>
            </div>
          </div>
        </div>
        <div class="col-md-6 Form__Col">
          <mdb-form-control>
            <input class="form-control" formControlName="serviceStandardRoom" id="standardRoom" mdbInput
                   type="text"/>
            <label class="form-label" for="standardRoom" mdbLabel>Tiêu chuẩn phòng</label>
          </mdb-form-control>
          <div
            *ngIf="!formServiceCreate.get('serviceStandardRoom')?.valid && (formServiceCreate.get('serviceStandardRoom')?.touched||formServiceCreate.get('serviceStandardRoom')?.dirty)">
            <div [hidden]="!formServiceCreate.get('serviceStandardRoom').errors.required">
              <small class="form__text">
                Không được để trống.</small>
            </div>
            <div [hidden]="!formServiceCreate.get('serviceStandardRoom').errors.pattern">
              <small class="form__text">
                Chưa đúng định dạng.</small>
            </div>
          </div>
          <mdb-form-control>
            <input class="form-control" formControlName="serviceDescription" id="other" mdbInput
                   type="text"/>
            <label class="form-label" for="other" mdbLabel>Tiện nghi khác</label>
          </mdb-form-control>
          <div
            *ngIf="!formServiceCreate.get('serviceDescription')?.valid && (formServiceCreate.get('serviceDescription')?.touched||formServiceCreate.get('serviceDescription')?.dirty)">
            <div [hidden]="!formServiceCreate.get('serviceDescription').errors.required">
              <small class="form__text">
                Không được để trống.</small>
            </div>
            <div [hidden]="!formServiceCreate.get('serviceDescription').errors.pattern">
              <small class="form__text">
                Chưa đúng định dạng.</small>
            </div>
          </div>
          <mdb-form-control>
            <input class="form-control" formControlName="servicePoolArea" id="poolArea" mdbInput
                   type="text"/>
            <label class="form-label" for="other" mdbLabel>Diện tích hồ bơi</label>
          </mdb-form-control>
          <div
            *ngIf="!formServiceCreate.get('servicePoolArea')?.valid && (formServiceCreate.get('servicePoolArea')?.touched||formServiceCreate.get('servicePoolArea')?.dirty)">
            <div [hidden]="!formServiceCreate.get('servicePoolArea').errors.required">
              <small class="form__text">
                Không được để trống.</small>
            </div>
            <div [hidden]="!formServiceCreate.get('servicePoolArea').errors.pattern">
              <small class="form__text">
                Chưa đúng định dạng.</small>
            </div>
          </div>
          <mdb-form-control>
            <input class="form-control" formControlName="serviceFloor" id="floor" mdbInput type="text"/>
            <label class="form-label" for="floor" mdbLabel>Số tầng</label>
          </mdb-form-control>
          <div
            *ngIf="!formServiceCreate.get('serviceFloor')?.valid && (formServiceCreate.get('serviceFloor')?.touched||formServiceCreate.get('serviceFloor')?.dirty)">
            <div [hidden]="!formServiceCreate.get('serviceFloor').errors.required">
              <small class="form__text">
                Không được để trống.</small>
            </div>
            <div [hidden]="!formServiceCreate.get('serviceFloor').errors.pattern">
              <small class="form__text">
                Chưa đúng định dạng.</small>
            </div>
          </div>
          <mdb-form-control>
            <input class="form-control" formControlName="serviceImage" id="image" mdbInput type="text"/>
            <label class="form-label" for="floor" mdbLabel>Ảnh</label>
          </mdb-form-control>
          <div
            *ngIf="!formServiceCreate.get('serviceImage')?.valid && (formServiceCreate.get('serviceImage')?.touched||formServiceCreate.get('serviceImage')?.dirty)">
            <div [hidden]="!formServiceCreate.get('serviceImage').errors.required">
              <small class="form__text">
                Không được để trống.</small>
            </div>
            <div [hidden]="!formServiceCreate.get('serviceImage').errors.pattern">
              <small class="form__text">
                Chưa đúng định dạng.</small>
            </div>
          </div>
          <mdb-form-control>
            <select class="form-control" formControlName="serviceType" id="serviceType" mdbInput
                    type="text">
              <option *ngFor="let serviceType of serviceType" [ngValue]="serviceType" >{{serviceType.serviceTypeName}}</option>
            </select>
            <label class="form-label" for="maxPeople" mdbLabel>Kiểu dịch vụ</label>
          </mdb-form-control>
          <div
            *ngIf="!formServiceCreate.get('serviceType')?.valid && (formServiceCreate.get('serviceType')?.touched||formServiceCreate.get('serviceType')?.dirty)">
            <div [hidden]="!formServiceCreate.get('serviceType').errors.required">
              <small class="form__text">
                Không được để trống.</small>
            </div>
            <div [hidden]="!formServiceCreate.get('serviceType').errors.pattern">
              <small class="form__text">
                Chưa đúng định dạng.</small>
            </div>
          </div>
        </div>
        <div class="col-md-12" style="justify-content: center; display: flex">
          <div style="padding: 20px">
            <button class="matter-button-contained custom__btn" [disabled]="!formServiceCreate.valid">Xác nhận</button>
          </div>
          <div style="padding: 20px">
            <button class="matter-button-contained custom__btn" routerLink="/service/list">Huỷ</button>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>
