.customer__container {
  background-color: white;
  margin-top: 40px;
  border: 2px solid #fff;
  border-radius: 10px;
  filter: drop-shadow(2px 2px 8px var(--shadow-color));
}

th,
td {
  text-align: center;
  color: rgb(0, 0, 0);
  border: #d5d5d5;
}

tbody td {
  text-align: center;
  color: rgb(0, 0, 0);
  border: #d5d5d5;
}

.Modal_Delete .modal-dialog .modal-content {
  background-color: #f4f8ff;
}

.Modal_Delete .modal-dialog .modal-content .modal-footer {
  border-top: 2px solid #d5d5d5;
}

.Modal_Delete .modal-dialog .modal-content .modal-header {
  border-bottom: 2px solid #d5d5d5;
}

.mt__text {
  width: 100%;
}

.pagination__container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text__container-customer{
  margin-top: 20px;
  padding-right: 40px;
  display: flex;
  justify-content: end;
  align-items: end;
}
.text__container-customer a{
  color: #fff;
}
.search__container{
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
